@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;500;700");

*{
  color: #494949;
    font-size: 18px;
    line-height: 1.6;
    font-weight: lighter;
    font-family: 'Lora', serif;

}

.hero {
  background-size: cover;
  background-image: url(https://source.unsplash.com/random/1000x500);
  padding:120px;

}
.hero > p {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
}

@media (max-width: 1600px){
  .container{
    width: 1200px;
    margin: 50px auto;
  }
}
@media (max-width: 1200px){
  .container{
    width: 800px;
    margin: 50px auto;
  }
}

@media (max-width: 960px){
  .container{
    width: 700px;
    margin: 50px auto;
  }
}

@media (max-width: 720px){
    .container{
        width: 550px;
        margin: 50px auto;
    }
}

@media (max-width: 540px){
  .container{
      width: 300px;
      margin: 50px auto;
  }
}


h1{
  font-size: 2em;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}


h2 {
  color: #A0A0A0;
  font-weight: normal;
  display: block;
  font-size: 1.5em;
}

body{
  display: block;
}

a{
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  text-decoration: none;
  color: #636363;
  font-family: 'Lora', serif;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;

}

a:hover{
  cursor: pointer;
  background-image: linear-gradient(to bottom, rgb(73, 216, 123), rgb(73, 216, 123));
}
